<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!foods|| foods.length<=0" resetLinkText="Reset Search"></app-not-found>

<ul>
    <li *ngFor="let food of foods">
        
        <a routerLink="/food/{{food.id}}">
            <img src="{{food.imageUrls}}" >
        </a>
            <div class="content">
                <div class="name">
                    {{food.name}}
                </div>
                <span class="favorite {{food.favorite?'':'not'}}">
                    ❤
                </span>
<div class="stars">
                <span class="fa fa-star checked [value]= 'food.stars' "></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star unchecked"></span>

            </div>
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of food.origins">
                            {{origin}}

                        </span>
                    </div>

                    <div class="cook-time">
                        <span>🕰️</span>
                        {{food.cookTime}}
                    </div>

                    <div class="price">
                        <span>
                            {{food.price|currency}}
                        </span>
                    </div>

                </div>
            </div>
        
    </li>
</ul>